{{ attach_library('orange/global-assistance-css')}}
{{ attach_library('orange/global-assistance-js')}}

<div class="bandeau-desk">
    <div class="contentS">
        <ul class="sac-nav-ul mb-0">
            <li class="debutlii">
                <a href="/">Accueil</a><img class="px-2" src="/sites/default/files/images/assistance/keyboard-arrow-up-wh.svg" alt="" id="fleche">
            </li>
            <li class="debutlii">
                <a href="#"> <b> Assistance </b></a>
            </li>
        </ul>
    </div>

    <div class="block-ibou">
        <div class="contentS">
            <img src="/sites/default/files/images/assistance/group-22.svg" class="ibou">
            <div class="block-search">
                <input type="text" class="input-search" placeholder="Comment puis-je vous aider ?">
                <img src="/sites/default/files/images/assistance/rechercher-black.svg" class="img-rech" alt="">
                <div class="block-res">
                    <div class="res-search">
                        <div class="faq">
                            <div class="title-faq">Questions fréquentes</div>
                            <div class="listfaq">
                                <a href="" class="item-faq">
                                    <div>C’est quoi la nouvelle gamme Keurgui Box internet ?</div>
                                    <img src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                                <a href="" class="item-faq">
                                    <div>Les débits de la fibre sont-ils de la même ordre que ceux de la 4G ?</div>
                                    <img src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                                <a href="" class="item-faq">
                                    <div>Qu’est-ce que je peux faire avec le service Paynet ?</div>
                                    <img src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                                <a href="" class="item-faq">
                                    <div>At vero eos et accusamus et iusto odio internet ducimus</div>
                                    <img src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                                <a href="" class="item-faq">
                                    <div>C’est quoi la nouvelle gamme Keurgui Box internet ?</div>
                                    <img src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="rubrique">
                            <div class="title-faq ttr">Rubriques</div>
                            <div class="list-rubrique">
                                <a href="" class="item-rubrique">
                                    <img src="/sites/default/files/images/assistance/min-offre.png" alt="">
                                    <span>Offres mobiles</span>
                                </a>
                                <a href="" class="item-rubrique">
                                    <img src="/sites/default/files/images/assistance/min-om.png" alt="">
                                    <span>Pass internet</span>
                                </a>
                                <a href="" class="item-rubrique">
                                    <img src="/sites/default/files/images/assistance/min-adsl.png" alt="">
                                    <span>Internet, fixe et ADSL</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="txt-ibou">
        <div class="item-text">
            Dalal ak jàmm !

            <div class="rectdal"></div>
        </div>
        <div class="item-text">
            Ibou, à votre disposition

            <div class="rectdisp"></div>
        </div>
    </div>
</div>

<div class="sugg-search">
    <div class="contentS">
        <div class="list-link">
            <a href="" class="link">
                Téléphone volé
            </a>
            <a href="" class="link">
                Connexion internet lente
            </a>
            <a href="" class="link">
                Code PUK perdu
            </a>
            <a href="" class="link">
                Changer mot de passe du Wifi
            </a>
            <a href="" class="link">
                Paramétrage 4G
            </a>
            <a href="" class="link">
                Souscription fibre
            </a>
            <a href="" class="link">
                Téléphone volé
            </a>
            <a href="" class="link">
                Changer mot de passe du Wifi
            </a>
            <a href="" class="link">
                Téléphone volé
            </a>
            <a href="" class="link">
                Téléphone volé
            </a>
            <a href="" class="link">
                Téléphone volé
            </a>
        </div>
    </div>
</div>

<div class="block-offre-ho">
    <div class="contentS">
        <div class="list-offre-ho">
            <div class="offre-ho mob">
                <h2 class="mt-0"><a href="">Offres mobiles</a></h2>
                <div class="img-tl">
                    <img src="/sites/default/files/images/assistance/group-8.svg" alt="">
                </div>

                <div class="lnk-offr">
                    <div class="links">
                        <a href="">
                            <span>Jamono</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="{{ path('illimix') }}">
                            <span>Illimix</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="">
                            <span>Promo</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="offre-ho int">
                <h2 class="mt-0"><a href="">Pass internet</a></h2>
                <div class="img-tl">
                    <img src="/sites/default/files/images/assistance/group-6.svg" alt="">
                </div>
                <div class="lnk-offr">
                    <div class="links">
                        <a href="">
                            <span>Pass volume</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="">
                            <span>Pass durée</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="">
                            <span>Activation pass</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="offre-ho adsl">
                <h2 class="mt-0"><a href="">ADSL, Fibre, TV</a></h2>
                <div class="img-tl">
                    <img src="/sites/default/files/images/assistance/group-11.svg" alt="">
                </div>
                <div class="lnk-offr">
                    <div class="links">
                        <a href="">
                            <span>Keurgui Box</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="{{ path('fibre-home') }}">
                            <span>Home Fibre</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="{{ path('test-eligibbilte') }}">
                            <span>Eligibilité</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <div class="offre-ho mn">
                <h2 class="mt-0"><a href="">Orange Money</a></h2>
                <div class="img-tl">
                    <img src="/sites/default/files/images/assistance/group-12.svg" alt="">
                </div>
                <div class="lnk-offr">
                    <div class="links">
                        <a href="">
                            <span>Paiment marchand</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="">
                            <span>Impression de reçu</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                    <div class="links">
                        <a href="">
                            <span>Frais</span>
                            <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-container-ass-ho" style="overflow: hidden">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="slide1">
                    <div class="offre-ho mob">
                        <h2 class="mt-0"><a href="">Offres mobiles</a></h2>
                        <div class="img-tl">
                            <img src="/sites/default/files/images/assistance/group-8.svg" alt="">
                        </div>

                        <div class="lnk-offr">
                            <div class="links">
                                <a href="">
                                    <span>Jamono</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="{{ path('illimix') }}">
                                    <span>Illimix</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="">
                                    <span>Promo</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="slide1">
                    <div class="offre-ho int">
                        <h2 class="mt-0"><a href="">Pass internet</a></h2>
                        <div class="img-tl">
                            <img src="/sites/default/files/images/assistance/group-6.svg" alt="">
                        </div>
                        <div class="lnk-offr">
                            <div class="links">
                                <a href="">
                                    <span>Pass volume</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="">
                                    <span>Pass durée</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="">
                                    <span>Activation pass</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="slide1">
                    <div class="offre-ho adsl">
                        <h2 class="mt-0"><a href="">ADSL, Fibre, TV</a></h2>
                        <div class="img-tl">
                            <img src="/sites/default/files/images/assistance/group-11.svg" alt="">
                        </div>
                        <div class="lnk-offr">
                            <div class="links">
                                <a href="">
                                    <span>Keurgui Box</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="{{ path('fibre-home') }}">
                                    <span>Home Fibre</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="{{ path('test-eligibbilte') }}">
                                    <span>Eligibilité</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide" id="slide1">
                    <div class="offre-ho mn">
                        <h2 class="mt-0"><a href="">Orange Money</a></h2>
                        <div class="img-tl">
                            <img src="/sites/default/files/images/assistance/group-12.svg" alt="">
                        </div>
                        <div class="lnk-offr">
                            <div class="links">
                                <a href="">
                                    <span>Paiment marchand</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="">
                                    <span>Impression de reçu</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                            <div class="links">
                                <a href="">
                                    <span>Frais</span>
                                    <img class="text-right" src="/sites/default/files/images/assistance/keyboard-arrow-up.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-contrib">
    <div class="contentS">
        <h2 class="mt-0 title-pages">Dernières contributions</h2>
        <div class="list-contrib">
            <div class="contrib">
                <div class="img-auth">
                    <img src="/sites/default/files/images/assistance/tata.png" alt="">
                </div>
                <div class="desc-contrib">
                    <div class="title-contrib">
                        El Hadji FOFANA 
                    </div>
                    <div class="txt-contrib">
                        Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                    </div>
                    <button class="btn btn-outline-dark">Lire</button>
                </div>
            </div>
            <div class="contrib">
                <div class="img-auth">
                    <img src="/sites/default/files/images/assistance/manden.png" alt="">
                </div>
                <div class="desc-contrib">
                    <div class="title-contrib">
                        Manden Ba 
                    </div>
                    <div class="txt-contrib">
                        Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                    </div>
                    <button class="btn btn-outline-dark">Lire</button>
                </div>
            </div>
            <div class="contrib">
                <div class="img-auth">
                    <img src="/sites/default/files/images/assistance/mass.png" alt="">
                </div>
                <div class="desc-contrib">
                    <div class="title-contrib">
                        Massamba Gaye
                    </div>
                    <div class="txt-contrib">
                        Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                    </div>
                    <button class="btn btn-outline-dark">Lire</button>
                </div>
            </div>
        </div>
        <div class="list-contrib-mobil">
            <div>
                <div class="contrib">
                    <div class="img-auth">
                        <img src="/sites/default/files/images/assistance/tata.png" alt="">
                    </div>
                    <div class="desc-contrib">
                        <div class="title-contrib">
                            El Hadji FOFANA 
                        </div>
                        <div class="txt-contrib">
                            Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                        </div>
                        <button class="btn btn-outline-dark">Lire</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="contrib">
                    <div class="img-auth">
                        <img src="/sites/default/files/images/assistance/manden.png" alt="">
                    </div>
                    <div class="desc-contrib">
                        <div class="title-contrib">
                            Manden Ba 
                        </div>
                        <div class="txt-contrib">
                            Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                        </div>
                        <button class="btn btn-outline-dark">Lire</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="contrib">
                    <div class="img-auth">
                        <img src="/sites/default/files/images/assistance/mass.png" alt="">
                    </div>
                    <div class="desc-contrib">
                        <div class="title-contrib">
                            Massamba Gaye
                        </div>
                        <div class="txt-contrib">
                            Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque
                        </div>
                        <button class="btn btn-outline-dark">Lire</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-kst">
    <span>Vous avez une autre question ?</span>

    <a href="" class="btn btn-primary btn-inverse">Parlez à la communauté</a>
</div>

<div class="block-astuces">
    <div class="contentS">
        <h2 class="mt-0 title-pages">Trucs & astuces</h2>

        <div class="list-astuces">
            <div class="astuce">
                <img src="/sites/default/files/images/assistance/star.png" alt="">
                <div class="desc-ast">
                    <div>Eiusmod tempor </div>
                    <button class="btn btn-primary">découvrir</button>
                </div>
            </div>
            <div class="astuce">
                <img src="/sites/default/files/images/assistance/fibre.png" alt="">
                <div class="desc-ast">
                    <div>Eiusmod tempor </div>
                    <button class="btn btn-primary">découvrir</button>
                </div>
            </div>
            <div class="astuce">
                <img src="/sites/default/files/images/assistance/ipsum.png" alt="">
                <div class="desc-ast">
                    <div>Eiusmod tempor </div>
                    <button class="btn btn-primary">découvrir</button>
                </div>
            </div>
        </div>

        <div class="swiper-container-ass-ho">
            <div class="swiper-wrapper">
                <div class="swiper-slide" id="slide1">
                    <a href="" class="astuce">
                        <img src="/sites/default/files/images/assistance/star.png" alt="">
                        <div class="desc-ast">
                            <div>Eiusmod tempor </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" id="slide1">
                    <a href="" class="astuce">
                        <img src="/sites/default/files/images/assistance/fibre.png" alt="">
                        <div class="desc-ast">
                            <div>Eiusmod tempor </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" id="slide1">
                    <a href="" class="astuce">
                        <img src="/sites/default/files/images/assistance/ipsum.png" alt="">
                        <div class="desc-ast">
                            <div>Eiusmod tempor </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
  <div class="contentS d-none d-md-block d-sm-block">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.               </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none d-sm-none">

    <div class="col-sm-12">
      <p class="pt-1"></p>
      <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
    </div>
    <div class="hide-reverse">
      <div class="row" style="overflow: hidden">
        <div class="col-12">
          <div class="swiper-container-footer">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="slide1">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide2">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide3">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                      </p>
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>