{{ attach_library('orange/global-hub-pass-internationaux-css') }}
<div class="contentA">
  <section class="pass-intet ">
    <ul class="sac-nav-ul mb-0">
      <li class="debutlii">
        <a href="/">Accueil</a><img class="px-2" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="">
      </li>
      <li class="debutlii d-none d-sm-block">
        <a href="{{ path('offres-mobile') }}"> Nos offres mobiles</a><img class="px-2" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="">
      </li>
      <li class="debutlii">
        <a href="#">Roaming et International</a>
      </li>
    </ul>
    <h1 class="roaming-block"> Roaming et International </h1>
  </section>
  <section class="card-deux-img">
    <div class="position-block-tbl">
      <div class="row">
        <div class="col-lg-6">
          <div class="card card-pad-tr border-0">
            <div class="text-btne">
              <h2 class="appel-etrang">Roaming,</br> pass voyage</h2>
              </p>
              <a href="{{ path('appel-depuis-etranger') }}" class="btn btn-warning dec-btn">Découvrir</a>
            </div>
            <img src="/sites/default/files/icones/Appeler-depuis-l_etranger.png" alt="" class="tour-effel ">
          </div>

        </div>
        <div class="col-lg-6">
          <div class="card card-pad-tr border-0">
            <div class="text-btne">
              <h2 class="appel-etrang">Tarifs vers l’international</h2>
              </p>
              <a href="{{ path('pass-internationaux') }}"><button type="button" class="btn btn-warning dec-btn"> Découvrir</button></a>
            </div>
            <img src="/sites/default/files/icones/Appeler-vers-l_etranger.png" alt="" class="tour-effel">
          </div>

        </div>
      </div>
      <div class="displa ">
        <img style="margin-top: 6px; max-height: 20px;" src="/sites/default/files/images/keyboard-arrow-right.svg" alt="" class="fleche-gauc">
        <p class=" Pour-un-meilleur">Pour un meilleur suivi de votre consommation créez votre espace client</p>
        <a href="https://espaceclient.orange.sn" target="_blank" class="btn btn-warning detail-inter-bt">Voir détails</a>
      </div>
    </div>

    <!--  pour mobile appel depuis l'étranger -->
    <div class="position-block">
      <div class="posit">
        <div class="posit-block mb-4">
          <div class="card card-pad-tr border-0">
            <div class="text-btne">
              <p class="appel-etrang"> <b class="">Appeler</br> depuis l’étranger</b>
              </p>
              <a href="{{ path('appel-depuis-etranger') }}" class="btn btn-warning dec-btne">Découvrir</a>
            </div>
            <img src="/sites/default/files/icones/Appeler_depuis_l_etranger-mob-01.svg" alt="" class="tour-effel effel-land">
            <img src="/sites/default/files/icones/Appeler_depuis_l_etranger-mob-landscape.svg" alt="" class="tour-effel effel-lande">
            <div class="black-brd"></div>
          </div>

        </div>
        <div class="posit-block">
          <div class="card card-pad-tr border-0">
            <div class="text-btne">
              <p class="appel-etrang"> <b class="">Appeler</br> vers l’étranger</b>
              </p>
              <a href="{{ path('pass-internationaux') }}"><button type="button" class="btn btn-warning dec-btne">Découvrir</button></a>
            </div>
            <img src="/sites/default/files/icones/Appeler_vers_l_etranger-mob-01.svg" alt="" class="tour-effel effel-land">
            <img src="/sites/default/files/icones/Appeler_vers_l_etranger-landscape.svg " alt="" class="tour-effel effel-lande">
            <div class="black-brdeee"></div>
          </div>

        </div>
        <!-- fin mobile -->
      </div>
      <div class="displa ">
        <img src="/sites/default/files/images/keyboard-arrow-right.svg" alt="" class="fleche-gauc">
        <p class=" Pour-un-meilleur">Pour un meilleur suivi de votre consommation créez votre espace client</p>
        <a href="https://espaceclient.orange.sn" target="_blank"  class="btn btn-warning detail-inter-bt" >Voir détails</a>
      </div>
    </div>
    <!--fin mobile-->
  </section>

</div>

{#<div class="rectangle-12 block-14 d-none  d-sm-none d-md-none d-lg-block">
 <div class="contentA">
  <div class="row">
    <div class="col-lg-6">
      <div class="dispa-rec">
        <img src="/sites/default/files/icones/preparer-voyage.png" alt="" class="fleche-gauchh">
        <p class="Les-zones-et-tar">Les zones et tarifs par zone</p>
        <!--<a href="#" data-toggle="modal" data-target="#exampleModalCenter-2" class="btn btn-secondary Decouvv disable-btn" data-dismiss="modal" data-placement="bottom" title="Ce site est en construction. Contenu indisponible pour le moment. Merci de votre comprehension">Découvrir</a>-->
        <div class="hr-verti"></div>
      </div>
    </div>
    <div class="col-lg-6">
    
      <div class="dispa-rec">
        <img src="/sites/default/files/icones/tarifs-zone.png" alt="" class="fleche-gauchh">
        <p class="Les-zones-et-tar">Bien préparer son voyage</p>
        <!--<button type="button" class="btn btn-secondary Decouvv disable-btn" data-dismiss="modal" data-placement="bottom" title="Ce site est en construction. Contenu indisponible pour le moment. Merci de votre comprehension">Découvrir</button>-->
         </div>
      </div>
    </div>
  </div>
</div> 
<!--pour mobile zones tarifs-->
<div class="contentA">
<div class="rectangle-12 d-lg-none d-sm-none">
  <div class="row">
    <div class="deux-bl" id="one-bt">
      <img src="/sites/default/files/icones/group-4-copy.svg" alt="" class="fleche-gauchh">
      <div class="text-bt">
        <p class="Les-zones-et-tar">Les zones et tarifs </br> par zone</p>
        <a href="#" data-toggle="modal" data-target="#exampleModalCenter-2" class="btn btn-secondary Decouvv disable-btn" data-dismiss="modal" data-placement="bottom" title="Ce site est en construction. Contenu indisponible pour le moment. Merci de votre comprehension">Découvrir</a>
      </div>
    </div>

    <div class="deux-bl">
      <img src="/sites/default/files/icones/group-12-copy.svg" alt="" class="fleche-gauchh">
      <div class="text-bt">
        <p class="Les-zones-et-tar">Bien préparer</br> son voyage</p>
       <!-- <button type="button" class="btn btn-secondary Decouvv disable-btn" data-dismiss="modal" data-placement="bottom" title="Ce site est en construction. Contenu indisponible pour le moment. Merci de votre comprehension">Découvrir</button>-->
      </div>
    </div>
  </div>
</div>
</div>#}
<!--fin mobile zones tarifs-->

<!--pour lindscape-->
<div class="position-block-landsc">
  <div class="contentA">
    <ul class="sac-nav-ul-off aa mb-0 d-lg-none">
      <li class="debutlii-of">
        <a href="/" style="color: #666666;">Accueil</a><img class="px-2" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="" id="fleche">
      </li>
      <li class="debutlii-of">
        <a href="#"> Pass internationaux</a>
      </li>
    </ul>
    <!-- fin mobile -->
    <p class="Pass-Internationaux-Copy"> <b class="">Pass Internationaux</b> </p>
    <div class="posit">
      <div class="carde-block-rect">
        <div class="card card-pad-tr border-0">
          <div class="text-btne">
            <p class="appel-etrang"> <b class="">Appeler</br> depuis l’étranger</b>
            </p>
            <a href="{{ path('appel-depuis-etranger') }}" class="btn btn-warning dec-btn">Découvrir</a>
          </div>
          <img src="/sites/default/files/icones/Appeler_depuis_l_etranger-mob-landscape.svg" alt="" class="tour-effel">
          <div class="black-brd"></div>
        </div>

      </div>
      <div class="carde-block-rect">
        <div class="card card-pad-tr border-0">
          <div class="text-btne">
            <p class="appel-etrang"> <b class="">Appeler</br>vers l’étranger</b>
            </p>
            <button type="button" class="btn btn-warning dec-btn">Découvrir</button>
          </div>
          <img src="/sites/default/files/icones/Appeler_vers_l_etranger-landscape.svg" alt="" class="tour-effele">
          <div class="black-brdee "></div>
        </div>

      </div>
    </div>
    <div class="displa ">
      <img src="/sites/default/files/images/keyboard-arrow-right.svg" alt="" class="fleche-gauc">
      <p class=" Pour-un-meilleur">Pour un meilleur suivi de votre consommation créez votre espace client</p>
      <a href="https://espaceclient.orange.sn" target="_blank" class="btn btn-warning detail-inter-bt">Voir détails</a>
    </div>
  </div>

  {# <div class="dispp rectangle-12">
    <div class="deux-bl">
      <img src="/sites/default/files/icones/group-4-copy.svg" alt="" class="fleche-gauchh">
      <div class="divdb">
        <p class="Les-zones-et-tar">Les zones et tarifs par zone</p>
       <!-- <button type="button" class="btn btn-secondary Decouvv disable-btn" data-dismiss="modal" data-placement="bottom" title="Ce site est en construction. Contenu indisponible pour le moment. Merci de votre comprehension">Découvrir</button>-->
      </div>
    </div>
    <div class="hr-verti"></div>
    <div class="deux-bl">
      <img src="/sites/default/files/icones/group-12-copy.svg" alt="" class="fleche-gauchh">
      <div class="divdb">
        <p class="Les-zones-et-tar" id="voyage-prepare">Bien préparer son voyage</p>
       <!-- <button type="button" class="btn btn-secondary Decouvv disable-btn" data-dismiss="modal" data-placement="bottom" title="Ce site est en construction. Contenu indisponible pour le moment. Merci de votre comprehension">Découvrir</button>-->
      </div>
    </div>
  </div> #}
</div>
</div>
<!--fin lindscape-->








<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
  <div class="contentS d-none d-md-block d-sm-block">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.               </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none d-sm-none">

    <div class="col-sm-12">
      <p class="pt-1"></p>
      <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
    </div>
    <div class="hide-reverse">
      <div class="row" style="overflow: hidden">
        <div class="col-12">
          <div class="swiper-container-footer">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="slide1">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide2">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide3">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                      </p>
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 {% include directory ~ '/templates/includes/modal-non-dispo.html.twig' %}
