{{ attach_library('orange/global-hub-teranga-css')}}
{{ attach_library('orange/global-hub-teranga-js')}}

<div class="contentS">
        <ul class="sac-nav-ul mb-0">
            <li class="debutlii">
                <a href="/">Accueil</a><img class="px-2" src="/sites/default/files/images/hub-teranga/keyboard-arrow.svg" alt="" id="fleche">
            </li>
            <li class="debutlii">
                <a href="#"> <b> Nos offres téranga </b></a>
            </li>
        </ul>
    </div>

    <div class="contentS">
        <h1 class="title">
            Nos offres mobiles professionnelles
        </h1>

        <div class="list-teranga">
            {% for offre in offres %}
            <div class="item-teranga">
                <a href="{{ path('detail-teranga', {'id': offre.link}) }}"><img src="{{ file_url(offre.image) }}" alt="" class="img-offre"></a>
                <div class="item-desc">
                    <h2 class="title-item mt-0"><a href="{{ path('detail-teranga', {'id': offre.link}) }}">{{ offre.title }}</a></h2>
                    <div class="item-sub-title">
                        {{ offre.resume }}
                    </div>

                    {% for desc in offre.description %}
                    <div class="d-flex">
                        <img src="/sites/default/files/images/hub-teranga/line.svg" class="ch">
                        <div>{{ desc }}</div>
                    </div>
                    {% endfor %}

                    <a href="{{ path('detail-teranga', {'id': offre.link}) }}" class="item-link">
                        <span>Voir les Pass {{ offre.title }}</span>
                        <img src="/sites/default/files/images/hub-teranga/keyboard-arrow-up.svg" alt="">
                    </a>
                </div>

                <div class="item-desc-mobile">
                    <div class="desc-M">
                        <h2 class="title-item my-0"><a href="{{ path('detail-teranga', {'id': offre.link}) }}">{{ offre.title }}</a></h2>
                        <a href="{{ path('detail-teranga', {'id': offre.link}) }}" class="btn btn-primary">Découvrir</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="forfaits">
            <h2 class="title-forfait mt-0">
                Forfaits Internet mobiles compatibles avec la gamme Teranga
            </h2>

            <div class="option-ff">
                <div class="select-orange">
                    <div class="oval"></div>
                </div>
                <div>Avec ou sans engagement</div>
            </div>

            <div class="avec-eng eng">
                <div class="list-forfaits">
                  {% for forfait in forfaits.avec %}
                    <div class="forfait">
                        <div class="item-forfait">
                            <div class="title-itemF">
                                <div class="tt-forf">
                                    <div>Forfait</div>
                                    <div class="mo">{{ forfait.data }}</div>
                                </div>
                                <div class="tx">{{ forfait.prix }}</div>
                            </div>
                            <div>Valable {{ forfait.validite }}</div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
            <div class="sans-eng eng">
                <div class="list-forfaits">
                    {% for forfait in forfaits.sans %}
                    <div class="forfait">
                        <div class="item-forfait">
                            <div class="title-itemF">
                                <div class="tt-forf">
                                    <div>Forfait</div>
                                    <div class="mo">{{ forfait.data }}</div>
                                </div>
                                <div class="tx">{{ forfait.prix }}</div>
                            </div>
                            <div>Valable {{ forfait.validite }}</div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
            </div>
        </div>
    </div>

<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
  <div class="contentS d-none d-md-block d-sm-block">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.               </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none d-sm-none">

    <div class="col-sm-12">
      <p class="pt-1"></p>
      <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
    </div>
    <div class="hide-reverse">
      <div class="row" style="overflow: hidden">
        <div class="col-12">
          <div class="swiper-container-footer">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="slide1">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide2">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide3">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                      </p>
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
