{{ attach_library('orange/global-passinternet-css') }}
<div class="debut contentA" style="position: relative;">
  <section class="sect-nav">
    <div class="">
      <ul class="sac-nav-ul mb-0">
        <li class="debutlii">
          <a href="/">Accueil</a><img class="px-2" src="/sites/default/files/icones/keyboard-arrow-up.svg" alt="" id="fleche">
        </li>
        <li class="debutlii">
          <a href="#"> <b> Les Pass Internet </b></a>
        </li>
      </ul>
    </div>
  </section>

  <div class="header-tt">
      <h1 class="text-style-1 color-orange-style">Les Pass </br>
      <span class="text-style-2 mt-0 ">Internet</span></h1>
  </div>
  {#<div class="text-style">
    <h1 class="text-style-1 color-orange-style">Les Pass</br>
      <span class="text-style-2 mt-0 ">Internet</span></h1>
  </div>#}
</div>
<div class="Group-11 ">
  <img class="imgSmall Group-7 d-none  d-sm-none d-md-none d-lg-block" src="/sites/default/files/icones/background-header-pass-desktop.jpg" alt="">
  <img class="imgSmall Group-7 d-lg-none" src="/sites/default/files/icones/background-header-pass-mobile.jpg" alt="">
</div>

<div class="debut">
  <!--Card version desktop-->
  <div class="body-Interne contentA block-1pass">
    <section class="Les-Pass-Internet-Jourr  mb-5">
      <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Jour </span> </h2>
      <div class="row mb-3">
        {% for pass in allpass.jour %}
          {% set id = 'jour-exampleModalCenter' ~ loop.index %}
          <div class="col-lg-2 col-6 witdh-pass">
            <div class="card card1" data-toggle="modal" data-target="#{{ id }}">
              <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Jour Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                <div class="card-body card1-body">
                  <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                    <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                  </div>
                  <b class="color-orange-style F">{{ pass.montant }}F</b>
                  <hr class="sepa">
                  <p class="Valable-24h-pour-les mb-0"> <b>{{ pass.restriction }}.</b> Valable 24h</p>
                </div>
                {% if pass.info %}
                  <div class="card-footer card1-footer">
                    <div class="Go-gratuit">{{ pass.info }}</div>
                  </div>
                {% endif %}
              </a>
            </div>
          </div>

        {# Début Modal #}
        {% include directory ~ '/templates/includes/modal.html.twig' %}
        {# Fin Modal #}

          {% if loop.index is divisible by(6) %}
            </div>
            <div class="row mb-2">
          {% endif %}
        {% endfor %}

      </div>
      <p class="Profitez-de-10Mo-off-text">Profitez de 10Mo offerts sur 0.Facebook, sur tous les Pass Internet jour.
        <br>
        Report du reliquat non consommé si le client rachète un Pass dans les 30jours suivant l'épuisement du Pass mois.
      </p>
    </section>
    <section class="Les-Pass-Internet-Semaine mb-5">
      <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Semaine </span> </h2>
      <div class="row mb-3">
        {% for pass in allpass.semaine %}
          {% set id = 'semaine-exampleModalCenter' ~ loop.index %}
          <div class="col-lg-2 col-6 witdh-pass">
            <div class="card card1" data-toggle="modal" data-target="#{{ id }}">
              <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Semaine Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                <div class="card-body card1-body">
                  <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                    <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                  </div>
                  <b class="color-orange-style F">{{ pass.montant }}F</b>
                  <hr class="sepa">
                  <p class="Valable-24h-pour-les mb-0"><b> {{ pass.restriction }}.</b> Valable 7jours</p>
                </div>

                {% if pass.info %}
                  <div class="card-footer card1-footer">
                    <span class="Go-gratuit">{{ pass.info }}</span>
                  </div>
                {% endif %}
              </a>
            </div>
          </div>

          {# Début Modal #}
          {% include directory ~ '/templates/includes/modal.html.twig' %}
          {# Fin Modal #}

        {% if loop.index is divisible by(6) %}
          </div>
          <div class="row mb-2">
        {% endif %}

        {% endfor %}

      </div>
      <p class="Profitez-de-10Mo-off-text">Profitez de 100Mo offerts sur 0.Facebook, sur tous les Pass Internet semaine.</p>
    </section>
    <section class="Les-Pass-Internet-Mois mb-5">
      <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Mois </span> </h2>
      <div class="row mb-3">
        {% for pass in allpass.mois %}
          {% set id = 'mois-exampleModalCenter' ~ loop.index %}
          <div class="col-lg-2 col-6 witdh-pass">
            <div class="card card1" data-toggle="modal" data-target="#{{ id }}">
              <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Mois Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                <div class="card-body card1-body">
                  <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                    <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                  </div>
                  <b class="color-orange-style F">{{ pass.montant }}F</b>
                  <hr class="sepa">
                  <p class="Valable-24h-pour-les mb-0"><b>{{ pass.restriction }}.</b> Valable 1 mois </p>
                </div>

                {% if pass.info %}
                  <div class="card-footer card1-footer">
                    <span class="Go-gratuit">{{ pass.info | raw }}</span>
                  </div>
                {% endif %}
              </a>
            </div>
          </div>
          {# Début Modal #}
          {% include directory ~ '/templates/includes/modal.html.twig' %}
          {# Fin Modal #}
          {% if loop.index is divisible by(6) %}
            </div>
            <div class="row mb-2">
          {% endif %}

        {% endfor %}
      </div>
      <p class="Profitez-de-10Mo-off-text">Profitez d’un Pass Internet nuit offert tous les jours avec les Pass Internet mois. Et Bénéficiez de 400Mo offerts sur 0.Facebook.</p>
    </section>
    <section class="Les-Pass-Internet-3-Jours mb-4">
      <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> 3 Jours </span> </h2>
      <div class="row mb-3">
        {% for pass in allpass.jours %}
          {% set id = 'jours-exampleModalCenter' ~ loop.index %}
          <div class="col-lg-2 col-6 witdh-pass">
            <div class="card card1">
              <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass 3 Jours Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                <div class="card-body card1-body" data-toggle="modal" data-target="#{{ id }}">
                  <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                    <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                  </div>
                  <b class="color-orange-style F">{{ pass.montant }}F</b>
                  <hr class="sepa">
                  <p class="Valable-24h-pour-les mb-0"><b>{{ pass.restriction }}.</b> Valable 3 jours</p>
                </div>
                {% if pass.info %}
                  <div class="card-footer card1-footer">
                    <span class="Go-gratuit">{{ pass.info }}</span>
                  </div>
                {% endif %}
              </a>
            </div>
          </div>
          {# Début Modal #}
          {% include directory ~ '/templates/includes/modal.html.twig' %}
          {# Fin Modal #}
          {% if loop.index is divisible by(6) %}
            </div>
            <div class="row mb-2">
          {% endif %}
        {% endfor %}
      </div>
    </section>
        <!--nuit-->
    <section class="Les-Pass-Internet-3-Jours mb-4">
      <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Nuit </span> </h2>
      <div class="row mb-3">
        {% for pass in allpass.nuit %}
          {% set id = 'nuit-exampleModalCenter' ~ loop.index %}
          <div class="col-lg-2 col-6 witdh-pass">
            <div class="card card1">
              <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Nuit', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                <div class="card-body card1-body" data-toggle="modal" data-target="#{{ id }}">
                  <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                    <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                  </div>
                  <b class="color-orange-style F">{{ pass.montant }}F</b>
                  <hr class="sepa">
                  <p class="Valable-24h-pour-les mb-0"><b>{{ pass.restriction }}.</b></p>
                </div>
                {% if pass.info %}
                  <div class="card-footer card1-footer">
                    <span class="Go-gratuit">{{ pass.info }}</span>
                  </div>
                {% endif %}
              </a>
            </div>
          </div>
          {# Début Modal #}
          {% include directory ~ '/templates/includes/modal.html.twig' %}
          {# Fin Modal #}
          {% if loop.index is divisible by(6) %}
            </div>
            <div class="row mb-2">
          {% endif %}
        {% endfor %}
      </div>
    </section>






    <!--fin nuit-->
  </div>
  <!--fin card version desktop-->
  <!--Card pour version mobile-->
  <div class="contentA block-2pass">
    <div class="accordion" id="accordionExample-1">
      <div class="card" id="card-sl-1">
        <div class="card-header cd" id="headingOne-1">
          <h5 class="mb-0">
            <button class="btn btn-link spac-arc-pass" type="button" data-toggle="collapse" data-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
              <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Jour </span> </h2>

            </button>
          </h5>
        </div>

        <div id="collapseOne-1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample-1">
          <div class="card-body">
            <div class="row  rowbod">
              {% for pass in allpass.jour %}
                {% set id = 'jour-mobile-exampleModalCenter' ~ loop.index %}
                <div class="col-lg-2 col-6 witdh-pass">
                  <div class="card card1" data-toggle="modal" data-target="#{{ id }}">
                    <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Jour Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                      <div class="card-body card1-body">
                        <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                          <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                        </div>
                        <b class="color-orange-style F">{{ pass.montant }}F</b>
                        <hr class="sepa">
                        <p class="Valable-24h-pour-les mb-0"> <b>{{ pass.restriction }}.</b> Valable 24h</p>
                      </div>
                      {% if pass.info %}
                        <div class="card-footer card1-footer">
                          <span class="Go-gratuit">{{ pass.info }}</span>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>

                {# Début Modal #}
                {% include directory ~ '/templates/includes/modal.html.twig' %}
                {# Fin Modal #}
                {% if loop.index is divisible by(6) %}
                  </div>
                  <div class="row mb-2 rowbod">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="card cd">
        <div class="card-header cd" id="headingTwo-1">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed spac-arc-pass" type="button" data-toggle="collapse" data-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
              <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Semaine </span> </h2>
            </button>
          </h5>
        </div>
        <div id="collapseTwo-1" class="collapse" aria-labelledby="headingTwo-1" data-parent="#accordionExample-1">
          <div class="card-body cd">
            <div class="row rowbod">
              {% for pass in allpass.semaine %}
                {% set id = 'semaine-mobile-exampleModalCenter' ~ loop.index %}
                <div class="col-lg-2 col-6 witdh-pass">
                  <div class="card card1" data-toggle="modal" data-target="#{{ id }}">
                    <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Semaine Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                      <div class="card-body card1-body">
                        <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                          <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                        </div>
                        <b class="color-orange-style F">{{ pass.montant }}F</b>
                        <hr class="sepa">
                        <p class="Valable-24h-pour-les mb-0"><b> {{ pass.restriction }}.</b> Valable 7jours</p>
                      </div>

                      {% if pass.info %}
                        <div class="card-footer card1-footer">
                          <span class="Go-gratuit">{{ pass.info }}</span>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>

                {# Début Modal #}
                {% include directory ~ '/templates/includes/modal.html.twig' %}
                {# Fin Modal #}
                {% if loop.index is divisible by(6) %}
                  </div>
                  <div class="row mb-2 rowbod">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!--semaine-->
      <div class="card cd">
        <div class="card-header cd" id="headingfive-1">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed spac-arc-pass" type="button" data-toggle="collapse" data-target="#collapsefive-1" aria-expanded="false" aria-controls="collapsefive-1">
              <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Mois </span> </h2>
            </button>
          </h5>
        </div>
        <div id="collapsefive-1" class="collapse" aria-labelledby="headingfive-1" data-parent="#accordionExample-1">
          <div class="card-body cd">
            <div class="row rowbod">
              {% for pass in allpass.mois %}
              {% set id = 'mois-mobile-exampleModalCenter' ~ loop.index %}
                <div class="col-lg-2 col-6 witdh-pass">
                  <div class="card card1 mb-2" data-toggle="modal" data-target="#{{ id }}">
                    <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Mois Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                      <div class="card-body card1-body">
                        <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                          <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                          <img class="image-etoile-card-2" src="/sites/default/files/icones/asterix.svg" alt="">
                        </div>
                        <b class="color-orange-style F">{{ pass.montant }}F</b>
                        <hr class="sepa">
                        <p class="Valable-24h-pour-les mb-0"><b>{{ pass.restriction }}.</b> Valable 1 mois</p>
                      </div>
                      {% if pass.info %}
                        <div class="card-footer card1-footer">
                          <span class="Go-gratuit">{{ pass.info }}</span>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>

                {# Début Modal #}
                {% include directory ~ '/templates/includes/modal.html.twig' %}
                {# Fin Modal #}
                {% if loop.index is divisible by(6) %}
                  </div>
                  <div class="row mb-2 rowbod">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="card cd">
        <div class="card-header cd" id="headingThree-1">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed spac-arc-pass" type="button" data-toggle="collapse" data-target="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
              <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> 3 Jours </span> </h2>

            </button>
          </h5>
        </div>
        <div id="collapseThree-1" class="collapse" aria-labelledby="headingThree-1" data-parent="#accordionExample-1">
          <div class="card-body cd">
            <div class="row rowbod">
              {% for pass in allpass.jours %}
                {% set id = 'jours-mobile-exampleModalCenter' ~ loop.index %}
                <div class="col-lg-2 col-6 witdh-pass">
                  <div class="card card1" data-toggle="modal" data-target="#{{ id }}">
                    <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass 3 Jours Internet', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                      <div class="card-body card1-body">
                        <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                          <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                        </div>
                        <b class="color-orange-style F">{{ pass.montant }}F</b>
                        <hr class="sepa">
                        <p class="Valable-24h-pour-les mb-0"><b>{{ pass.restriction }}.</b> Valable 3 jours</p>
                      </div>
                      {% if pass.info %}
                        <div class="card-footer card1-footer">
                          <span class="Go-gratuit">{{ pass.info }}</span>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>
                {# Début Modal #}
                {% include directory ~ '/templates/includes/modal.html.twig' %}
                {# Fin Modal #}
                {% if loop.index is divisible by(6) %}
                  </div>
                  <div class="row mb-2 rowbod">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <!--nuit-->
      <div class="card cd">
        <div class="card-header cd" id="headingfive-1">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed spac-arc-pass" type="button" data-toggle="collapse" data-target="#collapsesix-1" aria-expanded="false" aria-controls="collapsesix-1">
              <h2 class="Les-Pass-Internet-Jo mt-0"> Les Pass Internet <span class="color-orange-style"> Nuit </span> </h2>
            </button>
          </h5>
        </div>
        <div id="collapsesix-1" class="collapse" aria-labelledby="headingsix-1" data-parent="#accordionExample-1">
          <div class="card-body cd">
            <div class="row rowbod">
              {% for pass in allpass.nuit %}
              {% set id = 'nuit-mobile-exampleModalCenter' ~ loop.index %}
                <div class="col-lg-2 col-6 witdh-pass">
                  <div class="card card1 mb-2" data-toggle="modal" data-target="#{{ id }}">
                    <a href="#" onclick="dataLayer.push({'event':'click','eventCategory':'Pass Nuit', 'eventAction':'button_click','eventLabel':'{{ pass.volume }}'});">
                      <div class="card-body card1-body">
                        <div class="card-title card1-cardtitle mb-0"> <span class="pass-style"> Pass</span>
                          <b class="pass-Mo mb-0 ">{{ pass.volume }}</b>
                          <img class="image-etoile-card-2" src="/sites/default/files/icones/asterix.svg" alt="">
                        </div>
                        <b class="color-orange-style F">{{ pass.montant }}F</b>
                        <hr class="sepa">
                        <p class="Valable-24h-pour-les mb-0"><b>{{ pass.restriction }}.</b></p>
                      </div>
                      {% if pass.info %}
                        <div class="card-footer card1-footer">
                          <span class="Go-gratuit">{{ pass.info }}</span>
                        </div>
                      {% endif %}
                    </a>
                  </div>
                </div>

                {# Début Modal #}
                {% include directory ~ '/templates/includes/modal.html.twig' %}
                {# Fin Modal #}
                {% if loop.index is divisible by(6) %}
                  </div>
                  <div class="row mb-2 rowbod">
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>



    </div>
  </div>
  <!--FIN card version mobile-->
  <div class="etoile-etoile-text contentA">
    <div class="align-text-etoile">
      <img class="image-etoile-card-text im-card-mob" src="/sites/default/files/icones/asterix.svg" alt="">
      <p class="Profitez-de-10Mo-off-text">Ces pass Internet, sont sécables, c’est-à-dire utilisables en une ou plusieurs fois selon vos besoins jusqu’à épuisement de la validité du pass.</p>
    </div>
  </div>

 <!-- <section class="partage contentA">
    <div class="partage-avec">
      <p class="Partager-avec-vos-amii"><b> Partager avec vos amis</b></p>
      <img class="ime-car-socio" src="/sites/default/files/icones/facebook-hover.svg" id="Face" alt="">
      <img class="ime-car-socio" src="/sites/default/files/icones/linkedin-hover-pass.svg" alt="">
      <img class="ime-car-socio" src="/sites/default/files/icones/twitter-hover-pass.svg" alt="">
    </div>
  </section>
  -->
</div>
<div class="content">
  <section class="Rectangle-Copyy contentA">
    <p class="Comment-activer-un-pp"><B>Comment activer un pass ?</B></p>
    <div class="row row-mob-space">
      <div class="col-lg-4">
        <div class="Black-space">
          <img class="#" src="/sites/default/files/icones/605-black.svg" alt="Card image cap" id="black-id-w">
          <div class="option1">
                            <span>Option 1 :
                                <h4>Je tape #1234#</h4></span>
          </div>
        </div>
        <p class="lore d-none  d-sm-none d-md-none d-lg-block">
             Pour activer ou acheter un pass, tapez #1234#. Choisissez le pass de votre choix        </p>
      </div>
      <div class="col-lg-4">
        <div class="Black-space">
          <img class="#" src="/sites/default/files/icones/internet.svg" alt="Card image cap" id="black-id-int">
          <div class="option1">
                            <span>Option 2 :
                                    <h4>Via passorange.sn</h4></span>
          </div>
        </div>
        <p class="lore d-none  d-sm-none d-md-none d-lg-block">
          Depuis le site pass.orange.sn, sélectionnez le pass de votre choix puis achetez et surfez en toute liberté        </p>
      </div>
      <div class="col-lg-4">
        <div class="Black-space">
          <img class="#" src="/sites/default/files/icones/orange-et-moi-black.svg" alt="Card image cap" id="black-orange">
          <div class="option1">
                            <span>Option 3 :
                                        <h4> Via nos applications</h4></span>
          </div>
        </div>
        <p class="lore d-none  d-sm-none d-md-none d-lg-block">
              Depuis les applications Orange & Moi et Orange Money, sélectionnez et achetez votre pass en un clic </p>
      </div>
    </div>
  </section>
</div>

<!-- footer jaune -->

<div class="footer-body" style="background-color:#fdcc00; margin-bottom: -40px; padding-bottom: 30px;">
  <div class="contentS d-none d-md-block d-sm-block">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="h2" style="font-size: 24px;">Pourquoi choisir Orange ?</h2>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-1" src="/sites/default/files/images/black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Un réseau 4G hors-normes</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Assistance en ligne 24h/24</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.               </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
      <div class="sous-bloc-footer col-sm-4">
        <div>
          <div class="row">
            <div class="col-sm-2">
              <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
              <h5 class="mt-0 mb-1">Des apps à portée de main</h5>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <p style=" text-align: justify;">
                Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
              </p>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-sm-10">
              <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container d-block d-md-none d-sm-none">

    <div class="col-sm-12">
      <p class="pt-1"></p>
      <h2 class="h2" style="font-size: 22px;">Pourquoi choisir Orange ?</h2>
    </div>
    <div class="hide-reverse">
      <div class="row" style="overflow: hidden">
        <div class="col-12">
          <div class="swiper-container-footer">
            <div class="swiper-wrapper">
              <div class="swiper-slide" id="slide1">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="text-left" src="/sites/default/files/images/flybox.png" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Un reseau 4G<br>hors norme</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Avec Orange, profitez de la couverture  réseau la plus étendue du Sénégal avec une qualité optimale. Seul opérateur téléphonique à proposer la 4G+ vous bénéificiez de l'internet mobile le plus rapide du marché.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/reseau_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide2">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-2" src="/sites/default/files/images/assistance-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Assistance en <br> ligne 24h/24</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Notre service client est à votre côté pour vous accompagner au quotidien et répondre à vos réclamations. Carte sim bloquée, téléphone volé, problémes de connexion, nous vous apportons une assistance 24H/24 et 7 jours/7.
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/service_client " target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" id="slide3">
                <div>
                  <div class="row">
                    <div class="text-left col-sm-2">
                      <img class="image-block-jaune-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                    </div>
                    <div class="col-sm-8 py-2">
                      <h4 class="mt-0 mb-1 text-left">Des apps à <br> portée de main</h4>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-8">
                      <p class="text-block-jaune" style=" text-align: justify;">
                        Nous améliorons votre expérience client en vous proposant des applications utiles à installer dans votre smartphone.
                      </p>
                      </p>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-sm-10 text-left">
                      <a href="http://orangesengage.sn/bancarisation_mobile" target="_blank" class="btn btn-outline-dark">Découvrir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

