<footer class="o-footer" role="contentinfo">
  <div class="contentS o-footer-top pt-4 pb-4">
    {#<ul class="nav row footer-ul-1 pl-2">
      <li class="nav-item col-lg-2 col-md-12 col-sm-12 col-12 demO">
        <img src="/sites/default/files/icones/assistance-black.svg" alt="">
        <a href="mailto:serviceclient@orange-sonatel.com" class="link text-white text-reseau-sociaux pl-2">
          Contacter Orange
        </a>
      </li>
      <li class="d-block d-sm-none py-3"></li>
      <li class="nav-item col-lg-2 col-md-12 col-sm-12 col-12 pt-1">
        <img src="/sites/default/files/icones/boutiques-black.svg" alt="">
        <a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Store Locator'});" href="https://agence.orange.sn/" target="_blank" class="text-white text-reseau-sociaux pl-2">
          Agences & Boutiques
        </a>
      </li>
      <li class="d-block d-sm-none py-3"></li>
      <li class="d-none d-sm-block nav-item col-lg-2 col-md-12 col-sm-12 col-12 pt-1 pl-4">
        <img src="/sites/default/files/icones/forum-black.svg" alt="">
        <a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Assistance Orange'});" href="https://assistance.orange.sn/questions/browse?utf8=%E2%9C%93&search=&with_category%5B%5D=3071" target="_blank" class="text-white text-reseau-sociaux pl-2">
          Forum d'entraide
        </a>
      </li>
      <li class="d-block d-sm-none nav-item col-lg-2 col-md-12 col-sm-12 col-12 pt-1">
        <img src="/sites/default/files/icones/forum-black.svg" alt="">
        <a href="#" class="text-white text-reseau-sociaux pl-2">
          Forum d'entraide
        </a>
      </li>

      <li class="col-lg-5 d-none d-md-block text-left">
        <ul class="row">
          <a href="#" class="text-reseau-sociaux text-white col-lg-5 pt-2">Retrouver nous sur</a>
          <div href="#" class="col-lg-7 icone-reseau-sociaux">
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Facebook'});" class="ft-icone-hover" href="https://web.facebook.com/orange.sn/?ref=br_rs&brand_redir=298166859034" data-hover="facebook-hover.svg" target="_blank" title="Suivez nous sur Facebook. - Ouverture du lien dans un nouvel onglet"><img src="/sites/default/files/icones/facebook.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Twitter'});" class="ft-icone-hover" href="https://twitter.com/orange_sn" target="_blank" data-hover="twitter-hover.svg" title="Suivez nous sur twitter. - Ouverture du lien dans un nouvel onglet"><img class="px-1" src="/sites/default/files/icones/twitter.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Youtube'});" class="ft-icone-hover" href="https://www.youtube.com/channel/UC9UpyP2WXZP_-n66HnG7iBQ" data-hover="youtube-hover.svg" target="_blank"  title="Suivez nous sur Youtube. - Ouverture du lien dans un nouvel onglet"><img src="/sites/default/files/icones/youtube.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Instagram'});" class="ft-icone-hover" href="https://www.instagram.com/orange_senegal/?hl=fr" data-hover="instagram-hover.svg" target="_blank" title="Suivez nous sur Instagramm. - Ouverture du lien dans un nouvel onglet"><img class="px-1" src="/sites/default/files/icones/instagram.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Google Plus'});" class="ft-icone-hover" href="https://plus.google.com/+orangesenegal_OSN" data-hover="google-plus-hover.svg" target="_blank" title="Suivez nous sur Google Plus. - Ouverture du lien dans un nouvel onglet"><img src="/sites/default/files/icones/google-plus.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'LinkedIn'});" class="ft-icone-hover" href="https://fr.linkedin.com/company/orange-business-services-s%C3%A9n%C3%A9gal" data-hover="linkedin-hover.svg" target="_blank"  title="Suivez nous sur Linkedin. - Ouverture du lien dans un nouvel onglet"><img class="px-1" src="/sites/default/files/icones/linkedin.svg" alt=""></a>
          </div>
        </ul>
      </li>
    </ul>#}

    <div class="w-100 row footer-ul-1" style="margin-left: 10px !important; margin-right: 0 !important;">
      <div class="w-20 pt-3 mob-pt-0">
        <img src="/sites/default/files/icones/assistance-black.svg" alt="">
        <a href="mailto:serviceclient@orange-sonatel.com" class="link text-white text-reseau-sociaux pl-2">
          Contacter Orange
        </a>
      </div>
      <div class="w-20 pt-3" style="padding-left: 5px;">
        <img src="/sites/default/files/icones/boutiques-black.svg" alt="">
        <a style="padding-left: 14px;" onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Store Locator'});"
           href="https://agence.orange.sn/" target="_blank" class="text-white text-reseau-sociaux">
          Agences & Boutiques
        </a>
      </div>
      <div class="w-20 pt-3" >
        <img src="/sites/default/files/icones/forum-black.svg" alt="">
        <a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Assistance Orange'});" href="https://assistance.orange.sn/questions/browse?utf8=%E2%9C%93&search=&with_category%5B%5D=3071" target="_blank" class="text-white text-reseau-sociaux pl-2">
          Forum d'entraide
        </a>
      </div>
      {#<div class="d-block d-sm-none nav-item col-lg-2 col-md-12 col-sm-12 col-12 pt-1">
        <img src="/sites/default/files/icones/forum-black.svg" alt="">
        <a href="#" class="text-white text-reseau-sociaux pl-2">
          Forum d'entraide
        </a>
      </div>
      #}
      <div  class="text-left pt-2 only-desktop" style="width: 37%; margin-left: 3%;">
        <ul class="row" style="padding-left: 0; margin-left: 0 !important; margin-right: 0 !important;">
          <a href="#" class="text-reseau-sociaux text-white col-lg-5 pt-2" style="padding-left: 0; padding-right: 0; text-align: right;">Retrouvez nous sur</a>
          <div href="#" class="col-lg-7 icone-reseau-sociaux" style="padding-left: 4.5%; padding-top: 5px; padding-right: 0;">
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Facebook'});" class="ft-icone-hover" href="https://web.facebook.com/orange.sn/?ref=br_rs&brand_redir=298166859034" data-hover="facebook-hover.svg" target="_blank" title="Suivez nous sur Facebook. - Ouverture du lien dans un nouvel onglet"><img src="/sites/default/files/icones/facebook.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Twitter'});" class="ft-icone-hover" href="https://twitter.com/orange_sn" target="_blank" data-hover="twitter-hover.svg" title="Suivez nous sur twitter. - Ouverture du lien dans un nouvel onglet"><img class="px-1" src="/sites/default/files/icones/twitter.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Youtube'});" class="ft-icone-hover" href="https://www.youtube.com/channel/UC9UpyP2WXZP_-n66HnG7iBQ" data-hover="youtube-hover.svg" target="_blank"  title="Suivez nous sur Youtube. - Ouverture du lien dans un nouvel onglet"><img src="/sites/default/files/icones/youtube.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Instagram'});" class="ft-icone-hover" href="https://www.instagram.com/orange_senegal/?hl=fr" data-hover="instagram-hover.svg" target="_blank" title="Suivez nous sur Instagramm. - Ouverture du lien dans un nouvel onglet"><img class="px-1" src="/sites/default/files/icones/instagram.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Google Plus'});" class="ft-icone-hover" href="https://plus.google.com/+orangesenegal_OSN" data-hover="google-plus-hover.svg" target="_blank" title="Suivez nous sur Google Plus. - Ouverture du lien dans un nouvel onglet"><img src="/sites/default/files/icones/google-plus.svg" alt=""></a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'LinkedIn'});" class="ft-icone-hover" href="https://fr.linkedin.com/company/orange-business-services-s%C3%A9n%C3%A9gal" data-hover="linkedin-hover.svg" target="_blank"  title="Suivez nous sur Linkedin. - Ouverture du lien dans un nouvel onglet"><img class="px-1" src="/sites/default/files/icones/linkedin.svg" alt=""></a>
          </div>
        </ul>
      </div>
    </div>

  </div>
  <div class="contentS o-footer-body d-none d-sm-block">
    <div class="row Footer_Body py-3" style="margin-top:15px">
      {% for menu in footermenu %}
      <div class="col-md-3 col-sm-6 {% if loop.index == 1 %}pr-5{% endif %}">
        <a href="{{ menu.url_str }}"><h2 style="font-size: 18px"> {{ menu.name }}</h2></a>
        {% if menu.children %}
        <ul class="nav flex-column">
          {% for child in menu.children %}
            <li class="nav-item"><a class="nav-link li_body-footer" onclick="dataLayer.push({'event':'click','eventCategory':'Menu Footer', 'eventAction':'button_click','eventLabel':'{{ child.name }}'});" href="{{ child.url_str }}">{{ child.name }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endfor %}
      <!--div class="col-md-3 col-sm-6">
        <h2 style="font-size: 18px">Internet/Fixe/TV</h2>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link li_body-footer" href="{{ path('fibre-home') }}">FIbre Optique</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="/internet-fixe/keurgui-box-63">Keurgui Box</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="{{ path('tv-orange') }}">La TV d’Orange</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h2 style="font-size: 18px">Orange et Vous</h2>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link li_body-footer" href="#">Pourquoi choisir Orange ?</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="#">Orange Sargal</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="#">#15 Millions de Lions</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="#">Orange Communauté S’Cool</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-sm-6">
        <h2 style="font-size: 18px">Divertissement</h2>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link li_body-footer" href="#" data-toggle="modal" data-target="#exampleModalCenter">Dalal Tonerfrees</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="#" data-toggle="modal" data-target="#exampleModalCenter">Services Mobiles</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="#" data-toggle="modal" data-target="#exampleModalCenter">Le Coin des Gamers</a></li>
          <li class="nav-item"><a class="nav-link li_body-footer" href="#" data-toggle="modal" data-target="#exampleModalCenter">Cineday</a></li>
        </ul>
      </div-->
      <div class="hr d-block d-sm-none"></div>
    </div>
  </div>
  <div class="d-none d-md-block px-2" id="hr"></div>
  <div class="contentS o-footer-bottom d-none d-sm-block">
    <ul class="nav row">
      <li class="nav-item"><a style="color:#f16e00" class="nav-link" href="#">Particuliers</a></li>
      <li class="nav-item"><a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Portail B2B'});" target="_blank" class="nav-link" href="https://www.orangebusiness.sn/2/professionnels/1/3/homepage-11504.html">Professionnels</a></li>
      <li class="nav-item"><a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Portail B2B'});" target="_blank" class="nav-link pr-5" href="https://www.orangebusiness.sn/2/entreprises/1/3/homepage-11506.html">Entreprises</a></li>
      <li class="nav-item pl-5 pr-3"></li>
      <li class="nav-item"><div class="nav-link pl-5">©Orange 2018</div></li>
      <li class="nav-item"><a class="nav-link" href="http://kireneavecorange.sn/" target="_blank">Kirène avec Orange</a></li>
      <li class="nav-item"><a class="nav-link" href="http://www.sonatel.sn/" target="_blank">Sonatel</a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.orange.sn/actualite/informations-legales">Orange légal</a></li>
      <li class="nav-item"><a class="nav-link" href="https://www.orange.com/" target="_blank">Orange.com</a></li>
    </ul>
  </div>
  <div class="hr side-margin" style="display: block;"></div>
  <div class="d-block d-sm-none">
    <ul class="nav flex-column" style="padding-left: 5px;">
      {% for menu in footermenu %}
        <li class="nav-item"><a class="nav-link" onclick="dataLayer.push({'event':'click','eventCategory':'Menu Footer', 'eventAction':'button_click','eventLabel':'{{ menu.name }}'});" href="{{ menu.url_str }}">{{ menu.name }}</a></li>
      {% endfor %}
      <!--li class="nav-item"><a class="nav-link" href="{{ path('internet-fixe') }}">Internet/Fixe/TV</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Orange et vous</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Divertissement</a></li-->
    </ul>
    <div class="hr side-margin"></div>
    <div class="row">
      <a href="#" class="text-white col-md-12 pt-2 pb-2 pl-3">Retrouvez nous sur</a>
      <div href="#" class="col-md-12 pl-3 pb-3" style="font-size:30px">
       <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Facebook'});" href="https://web.facebook.com/orange.sn/?ref=br_rs&brand_redir=298166859034"><img src="/sites/default/files/icones/facebook.svg" alt=""></a>
       <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Twitter'});" href="https://twitter.com/orange_sn" > <img src="/sites/default/files/icones/twitter.svg"></a>
       <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Youtube'});" href="https://www.youtube.com/channel/UC9UpyP2WXZP_-n66HnG7iBQ" > <img src="/sites/default/files/icones/youtube.svg"></a>
       <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Instagram'});" href="https://www.instagram.com/orange_senegal/?hl=fr" > <img src="/sites/default/files/icones/instagram.svg"></a>
       <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'Google Plus'});" href="https://plus.google.com/+orangesenegal_OSN" > <img src="/sites/default/files/icones/google-plus.svg"></a>
       <a onclick="dataLayer.push({'event':'click','eventCategory':'Réseaux sociaux', 'eventAction':'button_click','eventLabel':'LinkedIn'});" href="https://fr.linkedin.com/company/orange-business-services-s%C3%A9n%C3%A9gal" > <img src="/sites/default/files/icones/linkedin.svg"></a>
      </div>
    </div>
    <div class="hr side-margin"></div>
    <div class="row" style="display:flex">
      <ul class="nav">
        <li class="nav-item pl-3 pr-5 py-3">©Orange 2018</li>
        <li class="nav-item pl-5 py-3"><a href="https://www.orange.sn/actualite/informations-legales"> Orange légal</a></li>
      </ul>
    </div>
    <div class="hr side-margin"></div>
    <ul class="nav bas-footer">
      <li class="nav-item"><a style="color:#f16e00" class="nav-link" href="#">Particuliers</a></li>
      <li class="nav-item"><a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Portail B2B'});" target="_blank" class="nav-link pl-3" href="https://www.orangebusiness.sn/2/professionnels/1/3/homepage-11504.html">Professionnels</a></li>
      <li class="nav-item"><a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Portail B2B'});" target="_blank" class="nav-link pr-5" href="https://www.orangebusiness.sn/2/entreprises/1/3/homepage-11506.html">Entreprises</a></li>
    </ul>
  </div>
</footer>
{% if not footer_share %}
  {% include directory ~ '/templates/includes/modal-non-dispo.html.twig' %}
{% endif %}
