<header role="banner" style="background:#ffffff">
  <div class="contentS">
    <div class="row">
      <nav class="navbar navbar-dark bg-dark navbar-expand supra">
        <div class="container">
          <div class="lst-prod">
            <a href="#" class="active">Particuliers</a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Portail B2B'});" target="_blank" href="https://www.orangebusiness.sn/2/professionnels/1/3/homepage-11504.html" class="">Professionnels</a>
            <a onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Portail B2B'});" target="_blank" href="https://www.orangebusiness.sn/2/entreprises/1/3/homepage-11506.html" class="">Entreprises</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="contentS">
    <nav class="row navbar navbar-dark bg-dark navbar-expand-md">
      <!--Mega menu-->
      <div class="col-lg-12 mega-menu-panel collapse pb-5 mb-5 pl-2" id="mega-level-1-collapse">
        <img src="/sites/default/files/images/me.png" class="triangle" alt="">
        <div class="card Card_Megemenu" style="border: solid 1px #cccccc">
          <div class="col-lg-12 card-body">
            <div class="row">
                  {{ page.primary_menu }}
              <ul class="ul_Megamenu col-lg-3 offset-lg-1 col-6">
                <li class="nav-item">
                  <a id="mega-menu-close" data-toggle="collapse" href="#mega-level-1-collapse" aria-expanded="true" aria-controls="mega-level-1-collapse" title="close shop menu">
                    <img class="close-menu" src="/sites/default/files/icones/shape.svg" alt="">
                  </a>
                  <div style="margin-left: -35px;">
                      {{ page.banniere }}
                  </div>
                </li>
              </ul>

              <div class="offset-lg-1">
                  </div>
                </div>
              </div>
          <div class="card-header ml-0 mr-0">
            <div class="row mt-1" style="list-style:none">
              <li class="nav-item col-lg-5 col-12">
                <div class="row">
                  <a href="#" class="nav-link text-white text-reseau-sociaux col-lg-5 col-4 pt-2">Retrouver nous sur</a>
                  <div class="col-lg-7 col-7">
                    <a class="ft-icone-hover" href="https://web.facebook.com/orange.sn/?ref=br_rs&brand_redir=298166859034" data-hover="facebook-hover.svg" target="_blank"><img src="/sites/default/files/icones/facebook.svg" alt=""></a>
                    <a class="ft-icone-hover" href="https://twitter.com/orange_sn" target="_blank" data-hover="twitter-hover.svg"><img class="px-1" src="/sites/default/files/icones/twitter.svg" alt=""></a>
                    <a class="ft-icone-hover" href="https://www.youtube.com/channel/UC9UpyP2WXZP_-n66HnG7iBQ" data-hover="youtube-hover.svg" target="_blank"><img src="/sites/default/files/icones/youtube.svg" alt=""></a>
                    <a class="ft-icone-hover" href="https://www.instagram.com/orange_senegal/?hl=fr" data-hover="instagram-hover.svg" target="_blank"><img class="px-1" src="/sites/default/files/icones/instagram.svg" alt=""></a>
                    <a class="ft-icone-hover" href="https://plus.google.com/+orangesenegal_OSN" data-hover="google-plus-hover.svg" target="_blank"><img src="/sites/default/files/icones/google-plus.svg" alt=""></a>
                    <a class="ft-icone-hover" href="https://fr.linkedin.com/company/orange-business-services-s%C3%A9n%C3%A9gal" data-hover="linkedin-hover.svg" target="_blank"><img class="px-1" src="/sites/default/files/icones/linkedin.svg" alt=""></a>
                  </div>
                </div>
              </li>
              <li class="nav-item col-lg-2 col-12">
                <img src="/sites/default/files/icones/assistance-black.svg" alt="">
                <a href="mailto:serviceclient@orange-sonatel.com" class="text-white text-reseau-sociaux pl-2">
                  Contacter Orange
                </a>
              </li>
              <li class="nav-item col-lg-3 col-12 pl-5">
                <img src="/sites/default/files/icones/boutiques-black.svg" alt="">
                <a href="https://agence.orange.sn/" target="_blank" class="text-white text-reseau-sociaux">
                  Agences & Boutiques
                </a>
              </li>
              <li class="nav-item col-lg-2 col-12">
                <img src="/sites/default/files/icones/forum-black.svg" alt="">
                <a href="https://assistance.orange.sn/" target="_blank" class="text-white text-reseau-sociaux pl-2">
                  Forum d'entraide
                </a>
              </li>
            </div>
          </div>
        </div>
      </div>
          <!--End Mega menu-->
      <div class="col-lg-6 col-md-6 text-center element_menu" id="element_menu">
        <div class="row text-center">
          <div class="col-lg-1 col-md-1">
            <a class="navbar-brand" href="/"><img src="/sites/default/files/images/orange_logo.svg" alt="Back to homepage" title="Back to homepage" /></a>
          </div>
          <div class="col-lg-3 col-md-4 pt-3 pl-2 pr-0">
            <a id="mega-menu-button" class="nav-link collapsed pl-3" onclick="dataLayer.push({'event':'click','eventCategory':'Menu', 'eventAction':'button_click','eventLabel':'Dérouler Menu'});"
               href="#mega-level-1-collapse" data-toggle="collapse"><span><i class="fa fa-bars pr-2"></i></span> Menu</a>
          </div>
          {#<div class="col-lg-4 col-md-4 pt-4 sg-link-nav"><span class="Line pl-0 pr-4"></span>
            <a target="_blank" href="http://e-shopb2c.di" onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Eshop'});">Boutique en ligne</a>
          </div>#}
          <div class="col-lg-3 col-md-4  pt-4 sg-link-nav">
            <span class="Line pl-0 pr-3"></span>
            <a href="https://www.orange.sn{{ path('orange-money') }}" onclick="dataLayer.push({'event':'click','eventCategory':'Menu', 'eventAction':'button_click','eventLabel':'Orange Money'});" class="link">Orange Money</a>
          </div>
          <!--div class="col-lg-4 col-md-4  pt-4 sg-link-nav" style="margin-left: -15px;">
            <a href="https://www.orange.sn/services-portail-magik" onclick="dataLayer.push({'event':'click','eventCategory':'Menu', 'eventAction':'button_click','eventLabel':'Portail Magik'});" class="link">Portail Magik</a>
          </div-->
          <div class="col-lg-1 col-md-1 pt-4 sg-link-nav" style="margin-left: -15px;"><a href="https://assistance.orange.sn" onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Orange Assistance'});" target="_blank" class="link pl-1">Assistance</a></div>
        </div>
      </div>
      <div class="col-lg-1 col-md-1"></div>
      <div class="col-lg-5 col-md-5  element_menu" style="padding-right: 0px;">
        <div class="row" style="margin-top: 10px;">
          <div class="text-right col-lg-5 col-md-5" style="overflow-x: hidden;">
            <form action="{{ path('recherche') }}" id="form-seach" method="get">
              <input type="text" name="q" class="search q" placeholder="Rechercher...">
              <a class="icone-search" href="javascript:void(0)" title="rechercher">
                <img src="/sites/default/files/icones/rechercher-black.svg" id="icone-search" alt="">
              </a>
            </form>
          </div>
          <div class="text-center col-lg-1 col-md-1 panier" id="toggle-menu">
            <a href="#" title="Nos services">
              <img src="/sites/default/files/icones/commandes-black.svg" style="margin-top: -6px;" id="toggle-menu-image">
            </a>
            <div class="ext-rectangle"></div>
          </div>

          <div class="text-right col-lg-5 ml-3 col-md-5 pr-0" style="margin-top: 7px;">
            <a href="https://espaceclient.orange.sn" onclick="dataLayer.push({'event':'click','eventCategory':'Liens externes', 'eventAction':'button_click','eventLabel':'Espace client'});" target="_blank" class="btn btn-warning" ><i class="fa fa-user pr-1"></i> Mon espace client</a>
          </div>
        </div>
      </div>
    </div>
    
      <!--Nav Mobile-->
    <div class="contentS row">
      <div class="col-12 col-md-12 col-sm-12 nav_mobile">
        <div class="row">
          <div class="col-2 col-md-2 col-sm-2">
            <a class="navbar-brand nvb" href="/"><img src="/sites/default/files/images/orangeMoney/Small_Logo.png" alt="Back to homepage" title="Back to homepage" /></a>
          </div>
          <div class="col-4 col-md-4 col-sm-4"></div>
          <div class="col-6 col-md-6 col-sm-6">
            <div class="row">
              <a href="#" title="rechercher" class="col-3 col-sm-3 col-md-3  search_mobile pt-1">
                <!--<img src="/sites/default/files/icones/rechercher-black.svg" alt="">-->
              </a>
              <a href="#" title="panier" class="col-3 col-sm-3 col-md-3  panier_mobile pt-2" id="toggle-menu-mobile">
                <img src="/sites/default/files/icones/commandes-black.svg" style="margin-top: -4px;">
                <div class="ext-rectangle"></div>
              </a>
              <a href="https://espaceclient.orange.sn" target="_blank" title="compte" class="col-3 col-sm-3 col-md-3  compte_mobile pt-1">
                <img src="/sites/default/files/icones/profil-black.svg" alt="">
              </a>
              <div class="col-3 col-sm-3 col-md-3 navbar-togglerS bars_mobile text-right" id="menu" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/sites/default/files/icones/bars.svg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <div class="col-md-12 contentS collapse" id="navbarToggleExternalContent">

        <div class=" d-block d-md-none scrollbar" id="style-1">
            <div class="force-overflow">
              <div class="accordion" id="accordionExample">
                {{ page.primary_menu }}
              </div>
              <p class="pt-1"></p>
              <div>
                <a href="{{ path('orange-money') }}" style="font-weight: bold; font-size: 16px">Orange Money</a>
              </div>
              <p class="pt-1"></p>
              <div>
                <a href="{{ path('actu-video') }}" target="_blank" style="font-weight: bold; font-size: 16px">Fin d'année</a>
              </div>
              <p class="pt-1"></p>
              <div>
                <a href="https://agence.orange.sn/" target="_blank" style="font-weight: bold; font-size: 16px">Trouver une agence</a>
              </div>
              <p class="pt-1"></p>
              <div>
                <a href="https://assistance.orange.sn" target="_blank" style="font-weight: bold; font-size: 16px">Assistance</a>
              </div>
              <p class="pt-1"></p>
              <div class="row space40">
                <div class="col-lg-6 mb-2">
                  <a href="">
                    <div class="app-OMw pt-3">
                      <!--<img class="img-app px-3" src="/sites/default/files/images/group-52.svg" alt="">-->
                      <div class="row ml-2">
                        <div class="col-lg-8">
                          <div class="media">
                            <img class="mr-3" src="/sites/default/files/images/orange-et-moi-black.svg" alt="Generic placeholder image">
                            <div class="media-body">
                                <div class="hide-reverse">
                                <p class="hide-reverse text-image-app">Télécharger l'application</p><br>
                                <B>Orange et moi</B>
                                <div class="mb-3"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-lg-6 mb-2">
                  <a href="">
                    <div class="app-OM pt-3">
                      <!--<img class="img-app px-3" src="/sites/default/files/images/group-52.svg" alt="">-->
                      <div class="row ml-2">
                        <div class="col-lg-8">
                          <a href="">
                            <div class="media">
                              <img class="mr-3" src="/sites/default/files/images/orange-money-black.svg" alt="Generic placeholder image">
                              <div class="media-body">
                                <div class="hide-reverse">
                                  <p class="hide-reverse text-image-app">Télécharger l'application</p><br>
                                  <B><a href="">Orange Money</a></B>
                                  <div class="mb-3"></div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="o-footer-top_menu pt-3" style="background: #000000;">
                <div class="container-fluid">
                  <ul class="nav row footer-ul-1 pl-2">
                    <li class="nav-item col-sm-12 col-12">
                      <img src="/sites/default/files/icones/assistance-black.svg" alt="">
                      <a href="#" class="link text-white text-reseau-sociaux pl-2" data-toggle="modal" data-target="#exampleModalCenter">
                        Contacter Orange
                      </a>
                    </li>
                    <p class="pt-4"></p>
                    <li class="nav-item col-sm-12 col-12">
                      <img src="/sites/default/files/icones/boutiques-black.svg" alt="">
                      <a href="https://agence.orange.sn/" target="_blank" class="text-white text-reseau-sociaux pl-2">
                        Agences & Boutiques
                      </a>
                    </li>
                    <p class="pt-4"></p>
                    <li class="nav-item col-sm-12 col-12">
                      <img src="/sites/default/files/icones/forum-black.svg" alt="">
                      <a href="#" class="text-white text-reseau-sociaux pl-2">
                        Forum d'entraide
                      </a>
                    </li>
                  </ul>
                  <div class="row o-footer-top-basMenu pt-2 ml-0 mr-0" style="background: #000000;">
                    <ul class="col-12 nav bas-footer pb-2" style="list-style:none">
                      <li class="col-4"><a style="color:#f16e00" class="nav-link" href="#">Particuliers</a></li>
                      <li class="col-4"><a class="nav-link pl-3 text-white" href="#">Professionnels</a></li>
                      <li class="col-4"><a class="nav-link pr-5 text-white" href="#">Entreprises</a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div><!-- #force-overflow -->
        </div><!-- #scrollbar -->


      </div>
    </nav>
  </div>
  <div class="bg-orange" id="menu-extensible">
    <div class="contentS">
      <div class="menu-extensible">
        <a href="http://sonatel.sn/" target="_blank" class="item-extensible">
          <img src="/sites/default/files/images/sonatel.svg"><span>Sonatel</span>
        </a>
        <a href="http://blog.orange.sn/" target="_blank" class="item-extensible">
          <img src="/sites/default/files/images/blog-white.svg"><span>Le Blog Orange</span>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.orange.myorange.osn&hl=fr" target="_blank" class="item-extensible">
          <img src="/sites/default/files/images/orange-et-moi-white.svg"><span>Orange et moi</span>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.orange.mobile.orangemoney&hl=fr" target="_blank" class="item-extensible">
          <img src="/sites/default/files/images/orange-money-white.svg"><span>Orange Money</span>
        </a>
        <a href="https://www.senkiosk.com/site/index.php/sn" target="_blank" class="item-extensible">
          <img src="/sites/default/files/images/senkiosk.svg"><span>Senkiosk</span>
        </a>
        <a href="http://ndamli.sn/" class="item-extensible">
          <img src="/sites/default/files/images/ndamli.svg"><span>Ndamli</span>
        </a>
      </div>

      <div class="ext-swiper">
        <div class="swiper-container-header-M" style="overflow: hidden">
          <div class="swiper-wrapper">
            <div class="swiper-slide" id="slide1">
              <a href="http://sonatel.sn/" target="_blank" class="item-extensible">
                <img src="/sites/default/files/images/sonatel.svg"><span>Sonatel</span>
              </a>
            </div>
            <div class="swiper-slide" id="slide2">
              <a href="http://blog.orange.sn/" target="_blank" class="item-extensible">
                <img src="/sites/default/files/images/blog-white.svg"><span>Le Blog Orange</span>
              </a>
            </div>
            <div class="swiper-slide" id="slide3">
              <a href="https://play.google.com/store/apps/details?id=com.orange.myorange.osn&hl=fr" target="_blank" class="item-extensible">
                <img src="/sites/default/files/images/orange-et-moi-white.svg"><span>Orange et moi</span>
              </a>
            </div>
            <div class="swiper-slide" id="slide4">
              <a href="https://play.google.com/store/apps/details?id=com.orange.mobile.orangemoney&hl=fr" target="_blank" class="item-extensible">
                <img src="/sites/default/files/images/orange-money-white.svg"><span>Orange Money</span>
              </a>
            </div>
            <div class="swiper-slide" id="slide5">
              <a href="https://www.senkiosk.com/site/index.php/sn" target="_blank" class="item-extensible">
                <img src="/sites/default/files/images/senkiosk.svg"><span>Senkiosk</span>
              </a>
            </div>
            <div class="swiper-slide" id="slide6">
              <a href="http://ndamli.sn/" class="item-extensible">
                <img src="/sites/default/files/images/ndamli.svg"><span>Ndamli</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</header>

